*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    /* overflow: hidden; */
}

.navbar{
    display: flex;
    overflow: hidden;
}

nav{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    padding: 0 10em;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    transition: all 300ms ease;
    position: fixed;
}
.navlinks{
    display: flex;
    list-style: none;
    gap: 1em;
}
.navlinks li a{
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}
nav h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.2rem;
}
.actions{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.img{
    height: 35px;
    width: 35px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}
.img img{
    height: 100%;
    width: 100%;
}
.search{
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid rgb(147, 147, 147);
    background-color: white;
    padding: 0 2em;
    border-radius: 20px;
}
.search i{
    font-size: 1.7rem;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}
.search input{
    font-size: 1.5rem;
    padding: 0.5em;
    background-color: transparent;
    transition: all 500ms ease;
    width: 100%;
}
.controls{
    background-color: aliceblue;
    width: 10%;
    height: 100vh;
    position: fixed;
    right: -200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(111, 188, 255);
    transition: all 300ms ease;
}
.controls ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin-top: 5em;
}
.controls ul li{
    text-align: center;
}
.controls ul li a{
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    border-bottom: 0.5px solid #ffffff;
    padding: 1em 0;
}
.width-95{
    width: 95% !important;
}
.show-controls{
    right: 0;
}

.main{
    width: 90%;
    margin: 0 auto;
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: rgb(240, 240, 240);
    padding: 3.5rem;
}
.main h1{
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #444;
    border-bottom: 2px solid rgb(255, 64, 64);
}

.main form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    gap: 1.5rem;
}
.inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inputs input{
    width: 100%;
    font-size: 1.6rem;
    padding: 0.5em;
}
.inputs textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 150px;
    font-size: 1.6rem;
    padding: 0.5em;
}
.inputs select{
    font-size: 1.6rem;
    padding: 0.5em;
}
.main form button{
    font-size: 1.6rem;
    padding: 0.5em;
    font-weight: bold;
    color: white;
    background-color: #eb5e3b;
    cursor: pointer;
}
.main form .inputs button{
    background-color: #4e6eff;
}
#imgCon{
    display: flex;
    justify-content: center;
}
#imgCon img{
    height: 200px;
    padding: 2em;
    max-width: 100%;
}

.container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2.5em;
}
.card{
    width: 25%;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-decoration: none;
    transition: all 300ms ease;
}
.title{
    color: black;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cat{
    font-size: 1.5rem;
    color: white;
    background-color: #eb5e3b;
    align-self: self-start;
    padding: 0.5em;
    border-radius: 5px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.author img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.author {
    display: flex;
    align-items: center;
    gap: 1em;
}
.author p{
    font-size: 1.3rem;
    font-weight: bold;
    color: #777;
}
.author p span{
    color: #444;
}
.card:hover{
    transform: scale(1.1);
}
